.hero {
    background: linear-gradient($greyishBlue, $white);
    padding-top: 2rem;
    color: $veryLightGrey;

    h1 {
        text-align: center;
        font-size: 2rem;
        font-weight: 500;
        margin-top: 1rem;
    }

    &__text {
        color: $white;
        font-weight: 800;
    }

    @include breakpoints-up (md) {
        background: linear-gradient($greyishBlue, 30%, $white);
    }

    &__summary {
        display: flex;
        padding: 4rem 0 2rem 0;
        flex-direction: column;
        gap: 2rem;
        text-align: center;

        h2 {
            color: $darkGrey;
            font-size: 1rem;
        }

        a {
            display: block;
            margin-bottom: 0.5rem;
        }

        @include breakpoints-up (md) {
            flex-direction: row;
        }
    
        .hero__personal {
            order: 3;

            h2 {
                margin-bottom: 1rem;
            }

            > div {
                margin-bottom: 3rem;
            }

            p {
                color: $greyishBlue;
                font-weight: 400;
            }

            @include breakpoints-up (md) {
                order: 0;
                flex: 1;
                margin: 4rem 0;
                text-align: left;

                > div {
                    margin-bottom: 3rem;
                }
            }
        }

        .hero__image {
            background-color: $veryLightGrey;
            width: 90%;
            height: 27rem;
            margin: 0 auto;
            border-radius: 12rem;
            overflow: hidden;
            order: 1;

            @include breakpoints-up (md) {
                order: 0;
                flex: 1;
                height: 30rem;
            }
            
            img {
                padding: 1.5rem;
                border-radius: 12rem;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .hero__statistics {
            order: 2;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
            margin: 2rem 0;

            p {
                font-size: 2rem;
                font-weight: 400;
                color: $greyishBlue;
            }

            @include breakpoints-up (md) {
                order: 0;
                flex: 1;
                display: block;
                text-align: right;
                margin: 4rem 0;

                > div {
                    margin-bottom: 2rem;
                }
            }
        }
    }

    
}